
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <h3 class="col-xl-4">
            Reported posts: 
            <br />
            <a asp-action="ReportedPosts" class="btn btn-success text-white">Edit</a>
        </h3>
        <h3 class="col-xl-4">
            Roles: 
            <br />
            <a asp-action="Roles" class="btn btn-success text-white">Edit</a>
        </h3>
        <h3 class="col-xl-4">
            Genres: 
            <br />
            <a asp-action="Genres" class="btn btn-success text-white" >Edit</a>
        </h3>
    </div>
</div>

